.gitattributes export-ignore
.gitignore export-ignore
analysis_options.yaml export-ignore
README.md export-ignore
CHANGELOG.md export-ignore

/.dart_tool export-ignore
/.vscode export-ignore
/docs export-ignore

